<a href="https://colab.research.google.com/github/nileshgithub74/week2-Python-CipherSchools/blob/main/oops_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Object Oriented programmings, OOPs


# OOps used in programming reuseability
  '''  Inheritance:

             The property of acquiring all the properties and behaviors of the parent object by an object is termed as inheritance in OOPs. This is a unique feature in object oriented programming languages which facilitates reusability of the code of the parent class by the derived class.

  Polymorphism:
               OOPs is based on the principle of Polymorphism, which means, that one task can be performed in many ways.

  Encapsulation:

                  OOPs restrict direct access to its methods and variables by encapsulating the code and data together.

  Data Abstraction :
                    OOPS Data Abstraction feature is used for hiding internal details and showing the functionality only.  '''

In [ ]:
# class : it is basically the collection of object.
# Object :attributes and behaviour


class car:
  h = 10 


tiago = car()
print(tiago.h)

10

In [ ]:
class student:
  def __init__(self, name,reg):
    self.name = name
    self.reg = reg


s1 = student("Nilesh",12218065)
print(s1.name)
print(s1.reg)

Nilesh
12218065

In [ ]:
class student:
  def __init__(self, name,reg):
    self.name = name
    self.reg = reg

  def pr(self):
    print("Hello my name is "+ self.name)

s1 = student("Nilesh",12218065)
s1.pr()

Hello my name is Nilesh

In [ ]:
# Inheritance
class person :
  def __init__(self,name,age):
    self.name  = name
    self.age = age

  def display(self):
    print(self.name, self.age)


#class Employee(person): # here person = parent , Employee = child
#  pass   

#a = Employee("Anurag", 27)
a = person("Anurag", 29)
b = person("Nilesh", 19)


a.display()
b.display()

Anurag 29
Nilesh 19

In [ ]:
class person :
  def __init__(self,name,age):
    self.name  = name
    self.age = age

  def display(self):
    print(self.name, self.age)

class Employee(person):
  def __init__(self,name, age):
    person.__init__(self, name, age)

a = Employee("Nilesh", 20)
a.display()

Nilesh 20

In [ ]:
class Employees(): 
   def __init__(self, Name, Salary): 
       self.Name = Name
       self.Salary = Salary
 
   def details(self): 
       print ("Employee Name : ", self.Name)
       print ("Employee Salary: ", self.Salary)
       print("\n")
 
first = Employees("Khush", 10000) 
second = Employees("Raam", 20000)
third = Employees("Lav", 10000)
fourth = Employees("Sita", 30000)
fifth = Employees("Lucky", 50000)
 
first.details() 
second.details() 
third.details()
fourth.details()
fifth.details()

Employee Name :  Khush
Employee Salary:  10000


Employee Name :  Raam
Employee Salary:  20000


Employee Name :  Lav
Employee Salary:  10000


Employee Name :  Sita
Employee Salary:  30000


Employee Name :  Lucky
Employee Salary:  50000

In [ ]:
class Employee():
  def __init__(self,name , salary ,age,contact):
    self.name = name
    self.salary = salary
    self.age = age
    self.contact = contact

  def details(self):
    print("Employee name :" , self.name)
    print("Salary:", self.salary)
    print("Age:", self.age)
    print("Contact no :", self.contact)
    print("\n")

a = Employee("Anurag" , 20000 , 30 ,99373727329)
b = Employee("Nilesh", 1000, 19,22422442)
c = Employee("Mishra", 29822,  23,323223234)

a.details()
b.details()
c.details()

Employee name : Anurag
Salary: 20000
Age: 30
Contact no : 99373727329


Employee name : Nilesh
Salary: 1000
Age: 19
Contact no : 22422442


Employee name : Mishra
Salary: 29822
Age: 23
Contact no : 323223234

In [ ]:
class person():
  def __init__(self,name ,age):
    self.name = name 
    self.age = age


  def display(self):
    print(self.name)
    print(self.age)


class pr(person):
  pass

a = pr("Nilesh", 20)

a.display()

Nilesh
20